

.regular-checkbox {
	-webkit-appearance: none;
	background-color: #fafafa;
  border: 1px solid #cacece;
  float:left;
  padding: 20px;
  margin:0px;
	/*display: inline-block;*/
	position: relative;
}



.regular-checkbox:checked {
	background-color: #000000;
	border: 1px solid #000000;
	
}
.regular-checkbox:focus{
  outline:0;
}
