

body {
  background-color:#c9e9e9;
 /* overflow: hidden;*/
}

button {
  background-color: white;
  width:10vh;
  height: 5vh;
  font-size: 16px;
  text-align: center;
  color: rgb(0, 0, 0);
  border: 2px solid #000000; 
  transition-duration: 0.5s;
  opacity: 0.6;
  font-family: 'JetBrains Mono', monospace;
  text-align: center;
  z-index: 2;
 
}

button:focus {
  outline: none;
  box-shadow: none;
}

button:hover {
  background-color: #000000; 
  color: white;
  opacity: 1;
}

div.mybuttons {
  width: 250px;
  max-width: 250px;
  margin:10px 10px 10px 10px;
  display:inline-block;
  position: fixed;
  z-index: 2;
}

.regular-checkbox {
  -webkit-appearance: none;
	background-color: #fafafa;
  /*border: 0px solid #c9e9e9;*/
  float:left;
  padding: 7px;
  margin:0px;
	position: relative;
}

.regular-checkbox:checked {
	background-color: #000000;
}

.regular-checkbox:focus{
  outline:0;
}

table{
  width:1vmin;
  height:1vmin;
  position:absolute;
  z-index:0;
}




